@import url('./fonts.css');
@import url('./responsive.css');

:root {
    --light-grn: #A7F3D0;
    --grn: #059669;
    --blue: #0284C7;
    --grn-grd: linear-gradient(90deg, #10B981 0%, #14B8A6 100%);
    --blue-grd: linear-gradient(90deg, #38BDF8 0%, #22D3EE 100%);
    --text: #6B7280;

    --shadow: 0px 10px 15px -3px #0000001A;
    --shadow2: 0px 25px 50px -12px #00000040;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --lg: 700;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
}

/* basic */
.heading {
    font-size: 3.5rem;
    font-weight: var(--lg);
}

.sectionHead {
    font-size: 2.2rem;
    font-weight: var(--lg);
    text-align: center;
}

.ThirdHead {
    font-size: 1.5rem;
    font-weight: var(--lg);
}

.sectionDes {
    text-align: center;
    font-weight: var(--light);
    color: var(--text);
}

.sectionDes.left {
    text-align: left !important;
}

.gradientHeading {
    background: linear-gradient(90deg, #24C2DA 0%, #34D39B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradientHeading2 {
    background: linear-gradient(90deg, #059669 0%, #0D9488 50%, #0284C7 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sectionPadding {
    padding: 80px 20px;
}

label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}


/* btn gradient */
.btn-grn-grd {
    padding: 10px 20px;
    font-weight: var(--medium);
    color: #fff;
    border-radius: 10px !important;
    background: linear-gradient(90deg, #10B981 0%, #14B8A6 100%);
}

.btn-grn-grd.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grn-grd.icon svg {
    margin-right: 10px;
}

/*  */
.btn-grn-outline {
    padding: 10px 20px;
    font-weight: var(--medium);
    color: var(--grn);
    border-radius: 10px !important;
    border-color: #A7F3D0;
}

.btn-grn-outline.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-grn-grd.icon svg {
    margin-right: 10px;
}

.btn-solid-white {
    padding: 15px 10px !important;
    background-color: #fff;
    font-weight: var(--medium);
    color: var(--grn);
    border-radius: 10px !important;
    border-color: #fff !important;
}

.btn-outline-white {
    border-radius: 10px !important;
    padding: 15px 10px !important;
    background-color: transparent;
    border-color: #fff !important;
    color: #fff;
}

.btn-outline-white:hover {
    background-color: #fff;
    color: var(--grn) !important;
}

.btn-solid-white:hover {
    color: #fff;
    background-color: transparent;
}

.btn-solid-white.icon,
.btn-outline-white.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-solid-white.icon svg,
.btn-outline-white.icon svg {
    margin-right: 10px;
}

.btn-blue-grd {
    padding: 10px 20px;
    font-weight: var(--medium);
    color: #fff;
    border-radius: 10px !important;
    background: linear-gradient(90deg, #0EA5E9 0%, #06B6D4 100%);
}



/* basic end */

.navbar {
    box-shadow: 0px 1px 2px 0px #0000000D;
    backdrop-filter: blur(12px)
}

.navbar .navbar-brand {
    width: 250px;
}

.navbar .nav-link {
    font-size: 0.9rem;
    color: var(--text);
    font-weight: var(--medium);
    padding: 10px 20px !important;
    position: relative;
}

.navbar .nav-item {
    margin: 0 5px;
}

.navbar .nav-link:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #33D4A0;
    transition: color .15s ease-in-out, width .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar .nav-link:hover {
    color: #33D4A0;
}

.navbar .nav-link:hover:after {
    width: 60%;
}

.navbar .nav-item.active .nav-link {
    color: #33D4A0;
}

.navbar .nav-item.active .nav-link:after {
    width: 60%;
}


.navbar-toggler {
    background-color: var(--light-grn) !important;
    border: none !important;
    box-shadow: none !important;
    width: 40px !important;
    height: 30px !important;
}

.navbar-toggler-icon {
    background-color: var(--grn);
    height: 2px;
}

/* banner section */
.banner-section {
    width: 100%;
    min-height: 700px;
    position: relative;
    z-index: 1;
    padding: 20px 50px;
    box-sizing: border-box;
}

.banner-section:after {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    opacity: 0.2;
    width: 30%;
    border-radius: 100%;
    height: 100%;
    box-shadow: #a7f3d09d 0px 10px 36px 0px;
    background: rgba(153, 246, 228, 0.68);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    z-index: -10;
}

.banner-section .banner-header-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px 80px 0 20px;
    box-sizing: border-box;
}

.banner-section .banner-header-text p {
    color: #4B5563;
    font-weight: var(--light);
}

.banner-section .banner-header-text .btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 100%;
}

.banner-statistic-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    width: 100%;
}

.banner-statistic-list.top {
    justify-content: flex-start;
}

.banner-statistic-list.bottom {
    justify-content: space-around;
}

.banner-statistic-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.banner-statistic-list li h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}

.banner-statistic-list.top li h4 {
    color: var(--grn);
}

.banner-statistic-list.bottom li h4 {
    color: #fff;
}

.banner-statistic-list.top li:last-child h4 {
    color: var(--blue);
}

.banner-statistic-list li p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.banner-statistic-list.top li p {
    color: var(--text);

}

.banner-statistic-list.bottom li p {
    color: #fff;

}

.banner-image {
    position: relative;
}

.banner-image-after {
    position: absolute;
    top: 10%;
    left: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #34D399 0%, #2DD4BF 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
}

.banner-image-before {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #38BDF8 0%, #22D3EE 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
}

/* find scholarship */
.find-scholarship {
    width: 100%;
    margin: 30px 0;
}

.find-scholarship .find-scholarship-form {
    padding: 40px;
    box-shadow: 0px 25px 50px -12px #00000040;
    border: 1px solid #FFFFFF33;
    border-radius: 24px;
}

.find-scholarship .find-scholarship-form h4 {
    font-weight: var(--lg);
    text-align: center;
}

.find-scholarship .find-scholarship-form p {
    font-weight: var(--regular);
    color: var(--text);
    text-align: center;
}

.find-scholarship .find-scholarship-form form {
    margin-top: 40px;
}

.input-group .input-group-text {
    padding: 17px 20px;
    background-color: #f9fafb80;
    border-radius: 16px;
    border-right: 0 !important;
    color: var(--text);
    border-color: #E5E7EB80 !important;

}

.input-group .form-control {
    border-left: 0 !important;

}

.form-control {
    padding: 10px;
    border-radius: 16px;
    font-weight: var(--regular);
    color: #000000;
    background: #f9fafb80;
    border-color: #E5E7EB80 !important;
    box-shadow: none !important;
}

.form-select {
    padding: 12px 15px;
    border-radius: 16px;
    border-color: #E5E7EB80 !important;
    background-color: #f9fafb80;
}

.form-control::placeholder {
    color: #00000072;
}

/* feature-scholarship */
.feature-scholarship {
    width: 100%;
    position: relative;
    height: 100%;
}


.feature-scholarship-card {
    border: 0;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px #0000001A;
}

.feature-scholarship-card .card-body {
    padding: 20px;
}

.feature-scholarship-card .card-title {
    font-size: 1rem;
    font-weight: var(--lg);
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-height: 50px;
    line-height: 1.5;
    -webkit-box-orient: vertical;
}

.feature-scholarship-card .card-text {
    font-size: 0.9rem;
    color: var(--text);
    font-weight: var(--regular);
}

.feature-scholarship-card .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.feature-scholarship-card .detail span {
    color: var(--text);
    font-weight: var(--light);
    display: flex;
    justify-content: start;
    align-items: center;

}



.feature-scholarship-card .detail h5 {
    margin-bottom: 0;
    font-weight: var(--lg);
    color: var(--grn);
}

.feature-scholarship-card .deadline {
    font-size: 0.8rem;
    color: #6B7280;
    display: flex;
    justify-content: start;
    align-items: center;
}

.feature-scholarship-card .deadline svg,
.feature-scholarship-card .detail span svg {
    margin-right: 5px;
}

.feature-scholarship-card .deadline.icon svg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}

.feature-scholarship-card .deadline.icon.green svg {
    background-color: #D1FAE5;
    color: var(--grn);
}

.feature-scholarship-card .deadline.icon {
    font-size: 1rem;
}

.feature-scholarship-card .deadline.icon.blue svg {
    background-color: #E0F2FE;
    color: var(--blue);
}

.feature-scholarship-card .lab-type,
.feature-scholarship-card .lab-open {
    position: absolute;
    top: 10px;
    padding: 3px 8px;
    font-size: 0.7rem;
    border-radius: 30px;
    font-weight: var(--medium);
}

.feature-scholarship-card .lab-type.blue {
    background-color: #DBEAFE;
    color: #1D4ED8;
}

.feature-scholarship-card .lab-type.green {
    background-color: #D1FAE5;
    color: #047857;
}

.feature-scholarship-card .lab-type.red {
    background-color: #FCE7F3;
    color: #BE185D;
}

.feature-scholarship-card .lab-type.purple {
    background-color: #F3E8FF;
    color: #7E22CE;
}

.feature-scholarship-card .lab-type {
    left: 10px;
}

.feature-scholarship-card .lab-price {
    position: absolute;
    top: 35%;
    right: 20px;
    background-color: #fff;
    color: var(--grn);
    padding: 3px 8px;
    font-size: 0.7rem;
    border-radius: 30px;
    font-weight: var(--lg);
}


.feature-scholarship-card .lab-open {
    right: 10px;
    background-color: #22C55E;
    color: #fff;
}

/* why choose */
.PlatformCard {
    box-shadow: 0px 10px 15px -3px #0000001A;
    border-radius: 24px;
    border: 0;
    box-shadow: 0px 10px 15px -3px #0000001A, 0px 4px 6px -4px #0000001A;
    padding: 30px;
    height: 100%;
}

.PlatformCard h5 {
    font-weight: 700;
}

.PlatformCard p {
    font-weight: var(--light);
    color: var(--text);
}

.PlatformCard.green {
    background: linear-gradient(135deg, #ECFDF5 0%, #F0FDFA 100%);
}

.PlatformCard.green .icon {
    color: var(--grn);
}

.PlatformCard.blue {
    background: linear-gradient(135deg, #F0F9FF 0%, #ECFEFF 100%);

}

.PlatformCard.blue .icon {
    color: var(--blue);
}

.PlatformCard.purple {
    background: linear-gradient(135deg, #F5F3FF 0%, #FAF5FF 100%);

}

.PlatformCard.purple .icon {
    color: #7C3AED;
}

.PlatformCard.red {
    background: linear-gradient(135deg, #FFF1F2 0%, #FDF2F8 100%);

}

.PlatformCard.red .icon {
    color: #E11D48;
}

.PlatformCard .icon {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px #0000001A, 0px 4px 6px -4px #0000001A;

}

.PlatformCard .icon svg {
    font-size: 25px;
}

/* help me */
.helped-me {
    background: linear-gradient(135deg, rgba(236, 253, 245, 0.5) 0%, rgba(240, 253, 250, 0.3) 50%, rgba(240, 249, 255, 0.5) 100%);

}

.help-slider {
    width: 100%;
    margin-top: 40px;
    padding: 40px;
    box-shadow: 0px 25px 50px -12px #00000040;
    border-radius: 20px;

}

.help-slider .help-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.help-slider .help-slider-item .profile-image {
    width: 100px;
    height: 100px;
    border: 2px solid #D1FAE5;
    border-radius: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.help-slider .help-slider-item .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.help-slider .help-slider-item h4 {
    font-weight: var(--lg);
    font-size: 1.3rem;
}

.help-slider .help-slider-item h5 {
    color: var(--grn);
    font-size: 1rem;
    font-weight: 600;
}

.help-slider .help-slider-item p.uni {
    font-size: 0.9rem;
    color: var(--text);
}

.help-slider .help-slider-item p.message {
    text-align: center;
}

/*  */

.help-slider .slick-list {
    margin-bottom: 20px;
}

.help-slider .slick_arrow_btns {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #D1FAE5 !important;
    outline: none !important;
    border: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.help-slider .slick_arrow_btns:focus {
    background-color: var(--grn) !important;
    color: #fff !important;
    border: 0 !important;
    box-shadow: none !important;
}

.help-slider .slick-next {
    color: var(--grn);
    font-size: 0.9rem;
    right: 20px;
}

.help-slider .slick-prev {
    border: 1px solid var(--grn);
    color: var(--grn);
}

.help-slider .slick-dots {
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: auto;
}

.help-slider .slick-dots li {
    width: 10px !important;
    height: 10px !important;
    margin: 0 3px;
    background-color: var(--light-grn);
    border-radius: 100px;
    transition: 0.3s;
}

.help-slider .slick-dots .slick-active {
    width: 20px !important;
    background-color: var(--grn);
}

.help-slider .slick-dots li button {
    display: none;
}

/* Ready to Transform Your Future */
.transform-future {
    width: 100%;
    padding: 80px 40px;
    background: url('./../imgs/future.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #111827;
    padding: 80px 40px;
}

.footer-about {
    color: #9CA3AF;
    margin: 20px 0;
    font-weight: var(--light);
    line-height: 2;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.social li a {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    padding: 8px;
    color: #fff;
    font-size: 1rem;
    transition: all .15s ease-in-out;

}

.social li a:hover {
    background-color: #fff;
    color: var(--grn);
}

.footer-head {
    color: #fff;
    font-weight: var(--lg);
}

.quick-link {
    padding: 0;
    margin-top: 25px;
    list-style: none;
}

.quick-link li {
    padding: 10px 0;
}

.quick-link li a {
    color: #fff;
    text-decoration: none;
    font-weight: var(--light);
    color: #9CA3AF;
    transition: all .15s ease-in-out;

}

.quick-link li a:hover {
    color: #fff;
}

.quick-link.contact li a {
    display: flex;
    justify-content: flex-start;
    align-items: start;

}

.quick-link.contact li a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.quick-link.contact li a .icon svg {
    color: var(--grn);
}

/* scholarship */
.inner-page {
    background: linear-gradient(135deg, #F8FAFC 0%, #FFFFFF 50%, #ECFEFF 100%);
}

.banner-inner {
    padding: 40px;
    background: url('./../imgs/innerpage.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-inner .banner-statistic-list {
    justify-content: center !important;
    gap: 40px;
}

.numberDes {
    font-weight: var(--regular);
    font-size: 0.9rem;
    color: var(--text);
}

.numberDes span {
    color: var(--grn);
    font-weight: var(--lg);
}


/* Detail scholarship */

.scholarship-card-detail {
    border: 0;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px #0000001A, 0px 25px 50px -12px #00000040;
}

.scholarship-card-detail .card-body {
    padding: 20px;
}

.scholarship-card-detail .card-title {
    font-size: 2rem;
    font-weight: var(--lg);
}

.scholarship-card-detail .text {
    color: var(--grn);
    font-size: 1.2rem;
    font-weight: var(--lg);
}

.scholarship-card-detail .card-text {
    font-size: 0.9rem;
    color: var(--text);
    font-weight: var(--regular);
}

.scholarship-card-detail .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.scholarship-card-detail .detail span {
    color: var(--text);
    font-weight: var(--light);
    display: flex;
    justify-content: start;
    align-items: center;

}

.scholarship-card-detail .lab-type,
.scholarship-card-detail .lab-open {
    position: absolute;
    top: 30px;
    padding: 3px 8px;
    font-size: 0.7rem;
    border-radius: 30px;
    font-weight: var(--medium);
}

.scholarship-card-detail .lab-type.blue {
    background-color: #DBEAFE;
    color: #1D4ED8;
}

.scholarship-card-detail .lab-type.green {
    background-color: #D1FAE5;
    color: #047857;
}

.scholarship-card-detail .lab-type.red {
    background-color: #FCE7F3;
    color: #BE185D;
}

.scholarship-card-detail .lab-type.purple {
    background-color: #F3E8FF;
    color: #7E22CE;
}

.scholarship-card-detail .lab-type {
    left: 30px;
}

.scholarship-card-detail .lab-price {
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: #fff;
    color: var(--grn);
    padding: 3px 15px;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: var(--lg);
}


.scholarship-card-detail .lab-open {
    right: 30px;
    background-color: #22C55E;
    color: #fff;
}

/* cardTabs */
.cardTabs {
    margin-top: 50px;
    box-shadow: 0px 25px 50px -12px #00000040;
    padding: 20px;
    border: 0;
    border-radius: 15px !important;
}

.nav-pills .nav-link {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 15px;
}

.nav-pills .nav-link h6 {
    margin-bottom: 0 !important;
    color: #6B7280;
}

.nav-pills .nav-link .icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-pills .nav-link .icon svg {
    color: #6B7280;
    font-size: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(90deg, #D1FAE5 0%, #CCFBF1 100%);
    box-shadow: 0px 10px 15px -3px #0000001A, 0px 4px 6px -4px #0000001A;
}

.nav-pills .nav-link.active .icon {
    background-color: #ffffff99;
}

.nav-pills .nav-link.active .icon svg {
    color: var(--grn);
}

.nav-pills .nav-link.active h6 {
    color: var(--grn);
}

.tab-content>.tab-pane {
    padding: 20px 0;
}

.scholarShipItem {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.scholarShipItem.green {
    background: linear-gradient(90deg, #ECFDF5 0%, #F0FDFA 100%);
}

.scholarShipItem.green .icon {
    background: linear-gradient(90deg, #10B981 0%, #14B8A6 100%);

}

.scholarShipItem.purple {
    background: linear-gradient(90deg, #F5F3FF 0%, #FAF5FF 100%);

}

.scholarShipItem.purple .icon {
    background: linear-gradient(90deg, #8B5CF6 0%, #A855F7 100%);
}

.scholarShipItem.blue {
    background: linear-gradient(90deg, #F0F9FF 0%, #ECFEFF 100%);

}

.scholarShipItem.blue .icon {
    background: linear-gradient(90deg, #0EA5E9 0%, #06B6D4 100%);
}

.scholarShipItem.red {
    background: linear-gradient(90deg, #FFF1F2 0%, #FDF2F8 100%);
}

.scholarShipItem.red .icon {
    background: linear-gradient(90deg, #F43F5E 0%, #EC4899 100%);
}

.scholarShipItem .icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.scholarShipItem .icon svg {
    color: #fff;
    font-size: 1.2rem;
}

.scholarShipItem .text p {
    margin-bottom: 0;
    font-weight: 500;
    color: var(--text);
}

.scholarShipItem .text h4 {
    margin-bottom: 0;
    font-size: 1.1rem;
    color: #1F2937;
}

.scholarShipItem.small {
    padding: 10px 15px !important;
}

.scholarShipItem.small .text p {
    font-size: 0.8rem;
}

.scholarShipItem.small .text h4 {
    font-size: 1rem;
}

.detailTopCard,
.cardShadow {
    box-shadow: 0px 25px 50px -12px #00000040;
    padding: 10px;
    border: 0;
    border-radius: 15px !important;
}

.detailTopCard p {
    font-weight: 500;
    color: #4B5563;
    text-align: center;
    font-size: 0.9rem;
}

.detailTopCard .prog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.detailTopCard .prog p {
    font-weight: 500;
    color: #4B5563;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.detailTopCard .prog p:last-child {
    color: var(--grn);
}

.detailTopCard .progress-bar {
    background: linear-gradient(90deg, #10B981 0%, #14B8A6 100%) !important;
}

.detailTopCard .dead {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    margin: 10px 0 20px 0;
}

.card.help {
    border: 1px solid #BAE6FD80;
    background: linear-gradient(135deg, #F0F9FF 0%, #ECFEFF 100%);
    padding: 30px;
}

.card.help p {
    text-align: left;
}

/* list design */
.listItemDesign {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.listItemDesign li {
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.listItemDesign li p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 80%;
}

.listItemDesign li.green {
    background: linear-gradient(90deg, rgba(236, 253, 245, 0.5) 0%, rgba(240, 253, 250, 0.5) 100%);
    border: 1px solid #D1FAE580
}

.listItemDesign li.green .icon {
    background: linear-gradient(90deg, #10B981 0%, #14B8A6 100%);

}

.listItemDesign li.blue {
    background: linear-gradient(90deg, rgba(240, 249, 255, 0.5) 0%, rgba(236, 254, 255, 0.5) 100%);
    border: 1px solid #D1FAE580
}

.listItemDesign li.blue .icon {
    background: linear-gradient(90deg, #0EA5E9 0%, #06B6D4 100%);
}

.listItemDesign li.purple {
    background: linear-gradient(90deg, rgba(245, 243, 255, 0.5) 0%, rgba(250, 245, 255, 0.5) 100%);
    border: 1px solid #EDE9FE80
}

.listItemDesign li.purple .icon {
    background: linear-gradient(90deg, #8B5CF6 0%, #A855F7 100%);
}

.listItemDesign li .icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.listItemDesign li .icon svg {
    font-size: 0.8rem;
}